#Header {
	height: 72px;
	padding: 10px 0 12px;
	background: #18191a;
	color: #FFF;
	position: relative;
}
#ToolBar a i {
	color: #FFF !important;
}
#ToolBar a:hover i:hover {
	color: #1b96e2 !important;
}
#ToolBar .Extended input[type=text] {
	color: #000;
	background: #FFF;
	border: 1px solid #1b96f9;
}
#ToolBar .Extended input[type=text]:hover {
	color: #FFF;
	background: #1b96e2;
	border: 1px solid #1b96f9;
}
#ToolBar li.UserAvatar div a, #ToolBar li.UserAvatar div span {
	background-color: #18191a;
	color: #FFF;
}
#Navigation > li > a:hover {
	color:#1b96e2;
}
#Navigation > li > a:after {
	background:#1b96e2;
	color: #fff;
}
#Navigation > .Active > ul > li > a{
	background: #18191a;
}
#Navigation > .Active > ul > li:hover > a {
	color: #fff;
	background:#1b96e2;
}
.DataTable thead th {
	color: #000;

}
.DataTable tr:hover td a {
	color: #000;
}

.DataTable tbody tr:hover td, .TableSmall tbody tr:hover td, .DataTable tbody tr:active td.Clickable, .TableSmall tbody tr:active td.Clickable, .DataTable tr:nth-child(even):hover td.Highlight {
	background: #1b96e2;
	color: #FFF;
}
.DataTable .Row td.QueueOverviewTotals {
	color: ##1b96e2;
}
.WidgetSimple > .Header h2,
.WidgetSimple > .Header h3 {
	color: #000;
}
.WidgetAction:hover i,
.WidgetAction a:focus i {
	color: #1b96e2;
}
.QueueOverviewList a{
	color: #000;
}

.QueueOverviewList a:hover{
	color: #fff;
	background: #1b96e2;
}

.Title {
	color: #000;
}
.Title:hover{
	color: #fff;
	background: #1b96e2;

}
.UseArticleColors tr.NotVisibleForCustomer > td {
    background: #fff !important;
    border-bottom-color: #fff;
    border-color: #fff;
}
.UseArticleColors tr.NotVisibleForCustomer.Active > td,
.UseArticleColors tr.NotVisibleForCustomer:hover > td {
    background-color: #1b96e2 !important;
    border-color: #1b96e2;
}
